.idea
.DS_Store
node_modules
dist
coverage
.env
.vscode
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
*.tgz
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig
*.cache
*.pid
*.seed
*.pid.lock
src/core_principles/angular/dist
src/core_principles/angular/node_modules
src/core_principles/angular/.vscode
src/core_principles/angular/.idea
src/core_principles/angular/.DS_Store
src/core_principles/angular/README.md
